* {
    -fx-font-family: 'Poppins';
}

.deposit-container {
    -fx-background-color: #1E1E1E;
}

.search-box {
    -fx-spacing: 20;
    -fx-border-width: 0;
}
.search-box Text {
    -fx-font-size: 1.6em;
    -fx-fill: white;
}

.result-container Text{
    -fx-font-size: 1.3em;
    -fx-fill: #b9b9b9;
}

TextField {
    -fx-pref-width: 250;
    -fx-background-color: #343A40;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.6em;
}

.result-container TextField {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-background-color: #343A40;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.3em;
}

Button {
    -fx-background-color: #007BFF;
    -fx-font-size: 1.6em;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 150;
}

Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #1c89ff;
}

.edit-button {
    -fx-background-color: #1E1E1E;
    -fx-font-size: 1.6em;
    -fx-border-width: 2;
    -fx-border-color: #1c89ff;
    -fx-border-radius: 5;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 150;
}

.edit-button:hover {
    -fx-background-color: #1c89ff;
}


.deposit-box {
    -fx-spacing: 20;
}
.deposit-box Text {
    -fx-font-size: 1.3em;
    -fx-fill: #FFFFFF;
}

.deposit-box Button {
    -fx-background-color: #28A745;
    -fx-pref-width: 250;
}

.deposit-box Button:hover {
    -fx-background-color: #2ed251;
}

.deposit-box TextField {
    -fx-pref-width: 250;
}

.info-lbl {
    -fx-font-size: 1.4em;
}