
Text {
    -fx-font-family: 'Poppins';
}
.login-container {
    -fx-background-color: #121212;
}

/*Logo container styles*/
.login-logo-container{
    -fx-background-color: #2d2d2d;
    -fx-alignment: center;
}
.login-logo-container Text {
    -fx-font-size: 1.1em;
    -fx-fill: #FFFFFF;
    -fx-font-weight: 900;
}
.login-logo-container Label {
    -fx-text-fill: #FFFFFF;
}


.contact-us {
    -fx-alignment: center;
}

/* Login form styles */
.login-form-container {
    -fx-background-color: #121212;
    -fx-background-radius: 20;
    -fx-alignment: center;
    -fx-padding: 0 30 0 30;
    -fx-spacing: 30;
}

.login-form-container Text {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Poppins';
    -fx-font-size: 2em;
    -fx-spacing: 0 0 50 0;
}
.choose-account-container {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 20;
}

.choose-account-container Text{
    -fx-fill: #ababab;
    -fx-font-size: 1.2em;
}

.alt-bold-text {
    -fx-font-weight: bold;
}

.choose-account-container ChoiceBox {
    -fx-background-color: #2d2d2d;
    -fx-font-size: 1.2em;
}

.choose-account-container ChoiceBox .label {
    -fx-text-fill: #FFFFFF;
}

.choose-account-container ChoiceBox .context-menu {
    -fx-background-color: #2d2d2d;
}

.input-field {
    -fx-background-color: transparent;
    -fx-font-family: 'Poppins';
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #FFFFFF;
}


.login-form-container CheckBox {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #FFFFFF;
}

.login-form-container CheckBox .box {
    -fx-background-color: #007BFF;
    -fx-border-color: #007BFF;
    -fx-border-width: 2px;
    -fx-padding: 1.5;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.login-form-container CheckBox:selected .box .mark {
    -fx-background-color: #000000;
}

.login-form-container CheckBox .box:hover {
    -fx-border-color: #208eff;
}

.login-form-container CheckBox .box:focused {
    -fx-border-color: #007BFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 1, 1);
}


.login-form-container CheckBox .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1em;
}

/*Login button styles*/

.login-forget-pane {
    -fx-alignment: center;
    -fx-spacing: 10;
}
.login-forget-pane Label{
    -fx-text-fill: #ffffff;
    -fx-underline: true;
}
.login-forget-pane Label:hover{
    -fx-text-fill: #007BFF;
    -fx-cursor: hand;
}

.login-form-container Button {
    -fx-font-family: 'Poppins';
    -fx-font-size: 1.3em;
    -fx-background-color: #007BFF;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 200;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 20;
    -fx-border-radius: 3;
    -fx-border-color: transparent;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.25) , 5, 0, 1, 1 );
}

.login-form-container Button:hover {
    -fx-background-color: #208eff;
    -fx-cursor: hand;
}
/* Error label*/
.error {
    -fx-text-fill: #d04949;
    -fx-font-size: 1.2em;
}