* {
    -fx-font-family: Poppins;
}

.container {
    -fx-background-color: #fcfcff;
}

.container Text {
    -fx-font-size: 1.5em;
}

.container Label {
    -fx-font-size: 1.2em;
    -fx-wrap-text: true;
}

.container TextField, PasswordField {
    -fx-pref-width: 300;
    -fx-pref-height: 35;
    -fx-background-color: #ffffff;
    -fx-font-size: 1.3em;
    -fx-text-fill: #000000;
    -fx-border-color: #a6a6a6;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.container TextField:focused {
    -fx-border-color: #8ec8ff;
}

.container Button {
    -fx-background-color: #007BFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.5em;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}
