* {
    -fx-font-family:'Poppins';
}


.transaction-container {
    -fx-background-color: #1E1E1E;
}

.transaction-container Text {
    -fx-fill: #FFFFFF;
    -fx-font-size: 2.5em;
}

.transaction-container .list-view {
    -fx-background-color: #1E1E1E;
    -fx-padding: 10;
}

.transaction-container .list-cell {
    -fx-background-color: #1E1E1E;
    -fx-pref-width: 800;
}
.transaction-container .list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #9a9a9a;
}

.transaction-container .list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #9a9a9a;
}


.transaction-container .list-view .scroll-bar:vertical .track,
.transaction-container .list-view .scroll-bar:horizontal .track {
    -fx-background-color: #2d2d2d;
}
