* {
    -fx-font-family: 'Poppins';
}

.cell-container {
    -fx-background-color: #474b4b;
    -fx-background-radius: 10;
    -fx-border-width: 0;
   /* -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 7); */
}

.trans-icon-container {
    -fx-background-color: #474b4b;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.trans-date-lbl {
    -fx-text-fill: #b4b4b4;
    -fx-font-weight: bold;
}

.trans-pAddress-lbl {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.cell-container Line {
    -fx-stroke: #000000;
}

.message-button {
    -fx-background-color: #474b4b;
}

.message-button FontAwesomeIconView {
    -fx-fill: #007BFF;
}

.message-button:hover {
    -fx-cursor: hand;
}


.trans-amount-lbl {
    -fx-background-color: #007BFF;
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-font-weight: bold;
}

.trans-amount-lbl FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}